<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>

<div class="Thx">
<h3>Thanks <%= @member.name %>! Your entry has been successfully submitted</h3><br>
<h4>Category: <%= @submission_obj.category %></h4><br>
<h4>Title: <%= @submission_obj.title %></h4><br>
<h5>Date Published: <%= @submission_obj.date_published %></h5><br>
<h5>Article: <%= @submission_obj.article %> ...</h5><br>
</div>
<div>
    <form action="/submissions/<%=@submission_obj.id%>" method="POST">
        <input type="hidden" name="_method" id="hidden" value="DELETE">
        <input type='submit' class="delete_button" value= 'Delete Submission'>
    </form>
   <hr style="border: 4px dotted white;" /><br>
</div>
	</body>
</html>
