<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>

<div class="Thx">
<h3>Thanks <%= @member.name %>! Your entry has been successfully submitted</h3><br>
<h4>Category: <%= @submission_obj.category %></h4><br>
<h4>Title: <%= @submission_obj.title %></h4><br>
<h5>Date Published: <%= @submission_obj.date_published %></h5><br>
<h5>Article: <%= @submission_obj.article %> ...</h5><br>
</div>
<div>
<h2>You have now submitted <%=@member.submissions.count%> entries:</h2><br>
  <% @submissions.each do |sub|%>
  <ul>
    <li>Title: <%=sub.title%></li>
    <li>Category:<%=sub.category %></li>
    <li>Date Published: <%=sub.date_published %></li><br>
   <% end %>
   <hr style="border: 4px dotted white;" /><br>
</div>
	</body>
</html>
