<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>
  <div class="container">
 <img src="/images/sports.png" alt="banner" class: "center" width="100%" height="5%" ><br>
<hr style="zig-zag"/>
</div><br>
<div class="Thx">
  <br>
  <br>
<h3>SUCCESS! Here is your submission:</h3><br>
<h4>Category: <%= @submission_obj.category %></h4><br>
<h4>Title: <%= @submission_obj.title %></h4><br>
<h5>Date Published: <%= @submission_obj.date_published %></h5><br>
<h5>Article: "<%= (@splitted[0].to_s) + " " + (@splitted[1].to_s) + " " + (@splitted[2].to_s)%>..."</h5><br>
  <a href="/submissions/<%=@submission_obj.id%>/edit">Edit</a><br>
</div>
<div class="delete_butt">

    <form action="/submissions/<%=@submission_obj.id%>" method="POST">
        <input type="hidden" name="_method" id="hidden" value="DELETE">
        <input type='submit' class="delete_button" value= 'Delete Submission'>
    </form><br>
   

</div>
	</body>
</html>
