<!-- show profile info for specific member
show where to sign up -->

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>
<div>
<h2><%= @member.name %>'s LSWA Profile Page</h2><br>
<h4><%= @member.name %>, you have submitted <%=@member.submissions.count%> entries:</h4><br>
  <% @submissions.each do |sub|%>
  <ul>
    <li>Title: <%=sub.title%></li>
    <li>Category:<%=sub.category %></li>
    <li>Date Published: <%=sub.date_published %></li><br>
   <% end %>
   <hr style="border: 4px dotted white;" /><br>
</div>
		<h1><a>Entry Form </a></h1><br>
		<form  method="post" action="/submissions">
			<p>Fill out the form to complete your entry:</p>
		<div>
			<input id="category" name="category" type="integer" placeholder="Category Number">
		</div>
		<div>
			<input id="author" name="author" type="text" placeholder="Author">
		</div>
		<div>
			<input id="email" name="email" type="text" placeholder="Email">
		</div>
		<div>
			<input id="date_published" name="date_published" type="text" placeholder="Date Published - MM-DD-YYYY:">
		</div>
		<div>
			<input id="title" name="title"  type="text" placeholder="Title">
    <div>
      <textarea name="article" placeholder="Paste article here" rows="8" cols="80"></textarea>
      <!-- <input id="article" name="article"  type="text" placeholder="Article goes here:"> -->
		</div>
		<br>
		<br>
		<input type="submit" class="submit_button" value="Submit Entry">
		</form>
	</body>
</html>
